.modal-overlay {
    position: fixed;
    top: 72px;
    left: 0;
    width: 100%;
    height: 100%;
    background: #7c7052;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 90%;
    max-height: 90%;
    overflow-y: auto;
    position: relative; 
    z-index: 1001;
  }

  .close-button {
    position: absolute;
    top: 15px;
    right: 15px;
    background: #77d4b6;
    color: white; 
    border: none;
    font-size: 20px;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 9999;
  }

  .image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 5px;
  }

  .image-grid img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }